.app-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.score-time-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.question {
  font-size: 1.5em;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: black;
  border: none;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 80%;
}

/* CSS for animating the +1 Point */
@keyframes pointAnimation {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(-10px);
  }
  80% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.point {
  position: absolute;
  top: 53%;
  left: 47%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  animation: pointAnimation 1s ease-out;
}

/* CSS for the difficulty buttons.*/
.difficulty-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#easyButton {
  background-color: green;
}

#mediumButton {
  background-color: yellow;
}

#hardButton{
  background-color: red;
}

